@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to my Library</h1>
    <p>Hi James, I've completed the challange to best of my current abilities with the time allotted.
    This is my first .net core project and I encounted a few stumbling blocks along the way.

    You'll see that I didn't use Angular, I left it really basic and focused on acheiving an MVP.
    I did succeed implementing CRUD, search and filter functionality as requested.

    I will continue working on this, as it has been a great learning opportunity which I truly appreciate.


    <p>Please click on <a href="/Books">Mark's Library</a> to see the app working</p>

</div>
