<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    @{
        ViewData["Title"] = "Book List";
    }

    <h2>My Book List</h2>

    <p>Hello from our View Template!</p>
    
</body>
</html>
